Repository vrm-c/vrm-specification, pull requests merged in 2020-11, with the labels that each got.

#182 Update schema of meta informations
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
Labels: meta

#171 Expression
  specification/VRMC_vrm-1.0_draft/README.ja.md
  specification/VRMC_vrm-1.0_draft/README.md
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.blendShape.blendShapeGroup.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.blendShape.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.materialColorBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.morphTargetBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.textureTransformBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.schema.json
Labels: BlendShape

#152 VRM 1.0 向け MToon Spec を既存の機能書き出し
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
Labels: material

#144 [1.0-draft] Proposal of VRMC_constraints
  specification/VRMC_constraint-1.0_draft/schema/VRMC_constraint.schema.json
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.aimConstraint.schema.json
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.positionConstraint.schema.json
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.rotationConstraint.schema.json
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.schema.json
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.space.schema.json
Labels: Constraint

#186 [1.0, constraints] change enum casing
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.space.schema.json
Labels: Constraint

#187 [1.0] Several modification about expression schema
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.materialColorBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.morphTargetBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.textureTransformBind.schema.json
Labels: Expression

#184 Update schema of meta informations (2), licenses
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
Labels: meta
