Repository vrm-c/vrm-specification, pull requests merged in 2021-04, with the labels that each got.

#234 [1.0] VRMC_vrmルートのスキーマを変更
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.schema.json
Labels: schema

#231 Constraint の README など
  specification/VRMC_constraints-1.0_draft/schema/VRMC_constraints.schema.json
  specification/VRMC_node_constraint-1.0_draft/README.ja.md
  specification/VRMC_node_constraint-1.0_draft/README.md
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.aimConstraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.constraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.positionConstraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.rotationConstraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.space.schema.json
  specification/VRMC_vrm-1.0_draft/README.ja.md
Labels: Constraint, documentation

#192 [1.0] Update schema of MToon
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
  specification/VRMC_materials_mtoon-1.0_draft/figures/mtoon-lit-shade.png
  specification/VRMC_materials_mtoon-1.0_draft/figures/mtoon-shading-ramp.png
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
Labels: material

#230 update SpringBone README
  specification/VRMC_springBone-1.0_draft/README.ja.md
Labels: SpringBone, documentation

#235 mtoon の jsonschema の TextureInfo の整理
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
  specification/VRMC_materials_mtoon-1.0_draft/schema/mtoon.shadingShiftTexture.schema.json
Labels: material

#239 Change redundant property names (2)
  specification/VRMC_vrm-1.0_draft/README.ja.md
  specification/VRMC_vrm-1.0_draft/README.md
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.firstPerson.meshAnnotation.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.firstPerson.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.lookAt.schema.json
Labels: lookAt/firstPerson, schema

#243 [1.0] Separate spec
  specification/VRMC_vrm-1.0_draft/README.ja.md
  specification/VRMC_vrm-1.0_draft/README.md
  specification/VRMC_vrm-1.0_draft/expressions.ja.md
  specification/VRMC_vrm-1.0_draft/firstPerson.ja.md
  specification/VRMC_vrm-1.0_draft/humanoid.ja.md
  specification/VRMC_vrm-1.0_draft/lookAt.ja.md
  specification/VRMC_vrm-1.0_draft/meta.ja.md
Labels: documentation

#244 change (1.0, expressions): argue that expression should clamp the value
  specification/VRMC_vrm-1.0_draft/expressions.ja.md
Labels: Expression
