Repository vrm-c/vrm-specification, pull requests merged in 2021-07, with the labels that each got.

#295 chore (1.0): remove unused schema files
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.constraint.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.springBone.boneGroup.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.springBone.colliderGroup.collider.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.springBone.colliderGroup.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.springBone.schema.json
Labels: schema

#298 change (1.0, springbone): add specVersion
  specification/VRMC_springBone-1.0_draft/README.ja.md
  specification/VRMC_springBone-1.0_draft/README.md
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.schema.json
Labels: SpringBone

#299 change (1.0, constraint): add specVersion
  specification/VRMC_node_constraint-1.0_draft/README.ja.md
  specification/VRMC_node_constraint-1.0_draft/README.md
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.schema.json
Labels: Constraint

#300 change (1.0, mtoon): version -> specVersion
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
Labels: material

#301 [1.0] VRMC_vrmのspecVersionに関するドキュメントを修正
  specification/VRMC_vrm-1.0_draft/README.ja.md
  specification/VRMC_vrm-1.0_draft/README.md
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.schema.json
Labels: documentation

#302 [1.0] LookAt description
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.lookAt.rangeMap.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.lookAt.schema.json
Labels: lookAt/firstPerson

#303 change (1.0): add a restriction to custom expressions
  specification/VRMC_vrm-1.0_draft/expressions.ja.md
  specification/VRMC_vrm-1.0_draft/expressions.md
Labels: Expression

#297 change (1.0): change extension dependencies to recommendations
  specification/VRMC_vrm-1.0_draft/README.ja.md
  specification/VRMC_vrm-1.0_draft/README.md
Labels: documentation

#305 change (1.0, springbone): add several minimum restrictions to joint
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.joint.schema.json
Labels: SpringBone

#307 change (1.0, expressions): add TODO about TextureTransform
  specification/VRMC_vrm-1.0_draft/expressions.ja.md
  specification/VRMC_vrm-1.0_draft/expressions.md
Labels: Expression

#311 change (1.0, emissive multiplier): add minimum restriction
  specification/VRMC_materials_hdr_emissiveMultiplier-1.0_draft/schema/VRMC_materials_hdr_emissiveMultiplier.json
Labels: material

#294 change (1.0, mtoon): argue that mtoon ignores vertex colors
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
Labels: material

#293 change (1.0, mtoon): change description of rim lighting mix
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
Labels: material

#313 fix (1.0, springbone): fix schema file name
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.collider.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.shape.schema.json
Labels: SpringBone

#252 Describe MToon Global Illumination.
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
Labels: material

#314 [1.0] MToonにmatcapFactorを追加
  specification/VRMC_materials_mtoon-1.0_draft/MToon_comparision.md
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
Labels: material
