Repository vrm-c/vrm-specification, pull requests merged in 2021-06, with the labels that each got.

#255 SpringBone の末端の解釈変更案
  specification/VRMC_springBone-1.0_draft/README.ja.md
Labels: SpringBone

#276 [1.0] Update meta.ja.md
  specification/VRMC_vrm-1.0_draft/meta.ja.md
Labels: meta

#272 ヒューマノイド清書
  specification/VRMC_vrm-1.0_draft/humanoid.ja.md
Labels: humanoid

#280 VRMC_materials_hdr_emissiveMultiplier を新規作成しました
  specification/VRMC_materials_hdr_emissiveMultiplier-1.0_draft/README.ja.md
  specification/VRMC_materials_hdr_emissiveMultiplier-1.0_draft/schema/VRMC_materials_hdr_emissiveMultiplier.json
Labels: material

#288 [1.0] metaにlicenseUrlを追加・ライセンス文書についての記述を追加
  specification/VRMC_vrm-1.0_draft/meta.ja.md
  specification/VRMC_vrm-1.0_draft/meta.md
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
Labels: meta

#289 Remove additionalProperties specifier from schema
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.humanoid.humanBones.humanBone.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.humanoid.humanBones.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.humanoid.schema.json
Labels: humanoid, schema

#290 change (1.0, humanoid): change node from integer to glTFid
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.humanoid.humanBones.humanBone.schema.json
Labels: humanoid, schema

#282 [英文ベース]humanoid
  specification/VRMC_vrm-1.0_draft/humanoid.ja.md
  specification/VRMC_vrm-1.0_draft/humanoid.md
Labels: documentation

#283 [英文ベース]expression
  specification/VRMC_vrm-1.0_draft/expressions.ja.md
  specification/VRMC_vrm-1.0_draft/expressions.md
Labels: documentation

#284 [英文ベース]lookAt
  specification/VRMC_vrm-1.0_draft/lookAt.md
Labels: documentation

#285 [英文ベース]firstPerson
  specification/VRMC_vrm-1.0_draft/firstPerson.md
Labels: documentation

#286 [英文ベース]VRMC_SpringBone
  specification/VRMC_springBone-1.0_draft/README.md
Labels: documentation

#287 [英文ベース]VRMC_materials_hdr_emissiveMultiplier
  specification/VRMC_materials_hdr_emissiveMultiplier-1.0_draft/README.md
Labels: documentation

#291 change (1.0, meta): add minLength to required string properties
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
Labels: meta, schema

#292 [1.0] add minItems and maxItems to arrays
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.spring.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.firstPerson.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.lookAt.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.schema.json
Labels: schema

#281 [英文ベース]VMC_vrm README
  specification/VRMC_vrm-1.0_draft/README.ja.md
  specification/VRMC_vrm-1.0_draft/README.md
Labels: documentation
