Repository vrm-c/vrm-specification, pull requests merged in 2021-05, with the labels that each got.

#246 change (1.0, meta): Update spec of meta
  specification/VRMC_vrm-1.0_draft/meta.ja.md
  specification/VRMC_vrm-1.0_draft/meta.md
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.schema.json
Labels: meta

#249 Replace images with img tag to scaling in MToon README.ja
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
Labels: material

#247 colliderGroups ではなく colliders で collider を定義します
  specification/VRMC_springBone-1.0_draft/README.ja.md
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.colliderGroup.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.spring.schema.json
Labels: SpringBone

#253 [1.0] Update meta spec around licenses
  specification/VRMC_vrm-1.0_draft/meta.ja.md
  specification/VRMC_vrm-1.0_draft/meta.md
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
Labels: meta, schema

#257 Add glTFProperty to properties
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.aimConstraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.constraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.positionConstraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.rotationConstraint.schema.json
  specification/VRMC_node_constraint-1.0_draft/schema/VRMC_node_constraint.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.collider.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.colliderGroup.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.joint.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.shape.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.spring.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.materialColorBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.morphTargetBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.textureTransformBind.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.firstPerson.meshAnnotation.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.firstPerson.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.humanoid.humanBones.humanBone.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.humanoid.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.lookAt.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.meta.schema.json
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.schema.json
  specification/VRMC_vrm-1.0_draft/schema/lookAtRangeMap.schema.json
Labels: schema

#248 Add description of MToon Double-Sided behaviour.
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
Labels: material

#251 Specify texture color space Explicitly.
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
Labels: material

#264 Update springbone schema 2
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.collider.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.colliderGroup.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.joint.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.shape.json
Labels: SpringBone, schema

#265 Set mtoon.outlineLightingMixFactor's default to 1.
  specification/VRMC_materials_mtoon-1.0_draft/README.ja.md
  specification/VRMC_materials_mtoon-1.0_draft/schema/VRMC_materials_mtoon.schema.json
Labels: material
