Repository vrm-c/vrm-specification, pull requests merged in 2021-02, with the labels that each got.

#218 enum の順番修正です
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.expression.schema.json
Labels: Expression

#221 change (VRM1.0, LookAt): Change enum of lookAtType, blendShape -> expression
  specification/VRMC_vrm-1.0_draft/schema/VRMC_vrm.lookAt.schema.json
Labels: lookAt/firstPerson

#212 SpringBone 仕様更新
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.joint.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.schema.json
  specification/VRMC_springBone-1.0_draft/schema/VRMC_springBone.spring.schema.json
Labels: SpringBone
