Repository vrm-c/vrm-specification, pull requests merged in 2022-07, with the labels that each got.

#376 docs (1.0, springBone): slightly update a non-normative document about center space
  specification/VRMC_springBone-1.0-beta/README.ja.md
  specification/VRMC_springBone-1.0-beta/README.md
Labels: documentation, SpringBone

#388 docs: fix typo, "intertia" -> "inertia"
  specification/VRMC_springBone-1.0-beta/README.ja.md
  specification/VRMC_springBone-1.0-beta/README.md
Labels: documentation, SpringBone

#386 rewrite LookAt
  .vscode/tasks.json
  specification/VRMC_vrm-1.0-beta/figures/range_map.png
  specification/VRMC_vrm-1.0-beta/lookAt.ja.md
  specification/VRMC_vrm-1.0-beta/lookAt.md
Labels: documentation, lookAt/firstPerson

#390 fix (1.0, constraint): remove mention about model space
  specification/VRMC_node_constraint-1.0_beta/README.ja.md
  specification/VRMC_node_constraint-1.0_beta/README.md
Labels: documentation, Constraint
