Repository vrm-c/vrm-specification, pull requests merged in 2022-04, with the labels that each got.

#363 docs (1.0, SpringBone): populate implementation note
  specification/VRMC_springBone-1.0-beta/README.ja.md
  specification/VRMC_springBone-1.0-beta/README.md
Labels: documentation, SpringBone

#364 change (1.0, lookAt): add description about lookAt reference position
  specification/VRMC_vrm-1.0-beta/lookAt.ja.md
  specification/VRMC_vrm-1.0-beta/lookAt.md
Labels: lookAt/firstPerson

#366 fix (1.0, LookAt): Change incorrect angle unit (radian -> degree)
  specification/VRMC_vrm-1.0-beta/lookAt.ja.md
  specification/VRMC_vrm-1.0-beta/lookAt.md
Labels: documentation, lookAt/firstPerson

#362 joint の重複禁止を追加
  specification/VRMC_springBone-1.0-beta/README.ja.md
  specification/VRMC_springBone-1.0-beta/README.md
Labels: SpringBone
