Repository vrm-c/vrm-specification, pull requests merged in 2023-06, with the labels that each got.

#434 [VRMA] 30FPS
  specification/VRMC_vrm_animation-1.0/README.ja.md
Labels: Animation

#443 fix (Constraint): Fix typo in VRMC_node_constraint spec doc
  specification/VRMC_node_constraint-1.0/README.md
Labels: bug, documentation, Constraint

#442 リターゲティングについての文書の更新
  specification/VRMC_vrm_animation-1.0/how_to_transform_human_pose.ja.md
Labels: documentation, Animation
